.operation {
    margin-bottom: 5px;
  }
/deep/.el-dialog__body{
    padding: 0px 20px;
    text-align: center;
}
/deep/.el-divider--horizontal{
    margin: 12px 0;
}
/deep/.el-dialog__footer{
    text-align: center;
}
.el-col-18 {
    width: 78%;
}
.el-col-push-1 {
    position: relative;
    left: 0.8%;
  }