/deep/.el-pagination__sizes {
  margin-right: 30px;
}
/deep/.el-drawer__header{
  margin-bottom: 0px;
}
/deep/.el-divider--horizontal{
  margin: 0 0 12px  0;
}
/deep/.el-drawer__header {
  padding: 5px 20px 5px 20px;
}