.DS_Store
/uis/node_modules
/uis/target
/uis/src/main/resources/static
/uis/dist
/servers/target/
/servers/.settings/org.eclipse.core.resources.prefs
/servers/.settings/org.eclipse.jdt.core.prefs
/servers/.settings/org.eclipse.m2e.core.prefs
/uis/.settings/org.eclipse.core.resources.prefs
/uis/.settings/org.eclipse.jdt.core.prefs
/uis/.settings/org.eclipse.m2e.core.prefs
# local env files
.env.local
.env.*.local
*.bak
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml
