.DS_Store
node_modules/
target/
/uis/src/main/resources/static
/uis/dist
.settings/
# local env files
.env.local
.env.*.local
*.bak
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.mvn/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
