.queryBodys{
    margin-top: 10px;
    // margin-bottom: 10px;
    width: 410px;
    margin-left: 10px;
  }
/deep/.el-pagination__sizes {
    margin: 0 30px 30px 0;
}
.pagination{
  text-align:right;
  // margin:12px 0px;
}
.table-list{
  margin: 10px 0px 0px 10px;
}
@mixin setColor($color) {
  width: 10px;
  height: 10px;
  background-color: $color;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
}
.major-color {
  @include setColor(#db1223);
}
.normal-color {
  @include setColor(#d89910);
}
.other-color {
  @include setColor(#c3d1ce);
}