
.siders{

  i{
    font-size: 14px;
  }
  .sub-icon-size{
    font-size: 12px;

  }
  .el-menu-item{
    width: $siderWidth - 1;
  }
  .el-submenu{
    width: $siderWidth - 1;

  }
  li:hover, .el-submenu__title:hover{
    background-color: $menuHover !important;
  }
}


