
.panel{
  background-color: #F6F7F9;
  margin-top: -10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
/deep/ .el-card__header{
  height: 40px !important;
  padding-top: 10px !important;
}
.el-row {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}