.operate {
  margin-bottom: 8px;
  float: right;
}
// 搜索按钮样式
/deep/.el-input-group__append {
  background-color: #409eff;
  border-color: #409eff;
  color: #ffffff;
}
.queryBodys{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 410px;
  margin-left: 10px;
}
/deep/.el-table .warning-row {
  background-color: yellow;
  color: black;
}
/deep/.el-table .danger-row {
  background-color: red;
  color: white;
}
.table-list{
  margin-left: 10px;
}