/deep/.el-pagination__sizes {
  margin-right: 30px;
}
.pageHeight{
  margin-top: 5px;
}
.el-form-item{
  margin-bottom: 10px !important;
}
.operate {
  margin-bottom: 5px;
  float: right;
}
/deep/.el-input-group__append {
  background-color: #0d3154;
  border: 1px solid #0d3154;
}
/deep/.el-icon-search{
  color: #ffffff;
}
/deep/.el-table  .ehs-message-info-yellow{
  background-color: yellow;
  color: black;
}
/deep/.el-table  .ehs-message-info-error{
  background-color: red;
  color: white;
}
/deep/.el-table .ehs-message-info-waring{
  background-color: orange;
  color: black;
}
/deep/.el-table .ehs-message-info-success{
  background-color: green;
  color: white;
}
.el-card {
  margin-left: 10px;
  margin-right: 10px;
}