.operate {
  text-align: right;
}
/deep/.el-card__header {
  padding:12px 20px;
  border-bottom: 1px solid #409eff;
}
.searchCol {
  margin-bottom: 5px;
}
// 搜索按钮样式
/deep/.el-input-group__append{
  background-color:#409EFF;
  border-color:#409EFF ;
  color: #ffffff;
}
// .el-col-push-1 {
//   position: relative;
//   left: 0.8%;
// }
// .el-col-18 {
//   width: 78%;
// }