.rightButtons{
  float: right;
}
/deep/.el-input-group__append {
  background-color: #409EFF;
  border: 1px solid #409EFF;
}
/deep/.el-icon-search{
  color: #ffffff;
}
.queryBodys{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 410px;
  margin-left: 10px;
}
.info-title{
  color: #303133;
  font-weight: bolder;
}
.info-content{
  color: #70737a;
}
/deep/.el-dialog__body {
  padding: 0px 20px 30px 20px;
}
/deep/.el-divider--horizontal {
  margin: 0px 0 15px 0;
}
.el-col-11 {
  height: 32px;
}