
.pagePanel{
  .el-container{
    height: 100%;

  }
  .el-main{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .lineDiv{
    height: 3px;
    width: 100%;
    background-color: #ce0000;
    position: absolute;
    z-index: 999;
    left: 0;
    top: $headerHeight - 2px ;
  }
  width: $bodyMinWidth !important;
  margin:0 auto;
  .headerPanel{
    border-bottom: solid 1px #e6e6e6 !important;
    .topleft{
      height: $headerHeight !important;
      line-height: $headerHeight !important;
      vertical-align: middle;
      float: left;

    }

    .topright {


      float: right;
    }
    .titlespan{
      font-size: 22px !important;
      color: black;
    }
  }
  .footerPanel{
    position:relative !important;
    bottom: 0px !important;
    text-align: center;
    width: $bodyMinWidth !important;
  }
  .el-carousel{
    margin:15px 0;
  }
}
.el-menu--horizontal > .el-menu-item:not(.is-disabled):hover{
  background-color: #ce0000;
  color: #ffffff;
}
 .el-menu-item:hover{
  background: #ce0000 !important;
}
 .el-menu-item.is-active {
  background: #ce0000 !important;
}
