
.pagePanel{
  .lineDiv{
    height: 3px;
    width: 100%;
    background-color: #ce0000;
    position: absolute;
    z-index: 999;
    left: 0;
    top: $headerHeight - 2px ;
  }
  width: $bodyMinWidth !important;
  margin:0 auto;
  .headerPanel{
    border-bottom: solid 1px #e6e6e6 !important;
    .topleft{
      height: $headerHeight !important;
      line-height: $headerHeight !important;
      vertical-align: middle;
      float: left;

    }

    .topright {


      float: right;
    }
    .titlespan{
      font-size: 22px !important;
      color: black;
    }
  }
  .footerPanel{
    position:fixed !important;
    bottom:-30px !important;
    text-align: center;
    width: $bodyMinWidth !important;
  }
}
