.item-block {
    .item-title {
      font-size: 14px;
      text-align: left;
    }
  }
  .el-form-item {
    margin-bottom: 0px;
  }
  /deep/.el-form-item{
    line-height: 15px;
  }
  /deep/.el-form-item__label{
    line-height: 30px;
  }
  /deep/.el-form-item__content{
    line-height: 30px;
    text-align: left;
  }
  .pageClass{
    margin-left: 5px;
    margin-right: 5px;
  }
  .offset-card{
    margin-top:10px;
  }