// .title {
//   width: 75px;
//   float: left;
//   line-height: 25px;
//   font-size: small;
//   font-weight: bold;
// }
// .content {
//   float: left;
//   line-height: 25px;
//   font-size: small;
// }
.item-block {
  .item-title {
    // font-size: 12px;
    // font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
  }
}
// .el-form--label-top .el-form-item__label {
//   padding: 0 0 0px;
// }
// .el-form-item {
//   margin-bottom: 10px;
// }
// .contents{
//   line-height: 30px;
// }
// .el-divider--horizontal{
//   margin:6px 0;
//   background-color: #015cf2;
// }
// .info-title{
//   color: #303133;
//   font-weight: bold;
// }
// .info-content{
//   color: #70737a;
// }
// .upload-demo {
//   margin: 5px 0px;
// }
.el-form-item {
  margin-bottom: 0px;
}
/deep/.el-form-item{
  line-height: 15px;
}
/deep/.el-form-item__label{
  line-height: 30px;
}
/deep/.el-form-item__content{
  line-height: 30px;
  text-align: left;
}
.pageClass{
  margin-left: 5px;
  margin-right: 5px;
}