.item-block {
  .item-title {
    text-align: left;
    margin-bottom: 10px;
  }
}
.avatar {
  width: 70%;
  height: 430px;
  margin-left: 17%;
}
.el-form-item {
  margin-bottom: 0px;
}
/deep/.el-form-item{
  line-height: 15px;
}
/deep/.el-form-item__label{
  line-height: 30px;
}
/deep/.el-form-item__content{
  line-height: 30px;
  text-align: left;
}
.pageClass{
  margin-left: 10px;
  margin-right: 10px;
}