.buttonStyle {
  position: absolute;
  right: 0px;
}
.el-button + .el-button {
  margin-left: 10px;
}
.operation{
  margin-bottom: 5px;
  text-align:right;
}
/deep/.el-input-group__append {
  background-color: #0d3154;
  border: 1px solid #0d3154;
  color:#fff
}
/deep/.dialog-footer{
  text-align: center;
}
/deep/.el-dialog__body{
  padding: 5px 20px;
}
.el-divider--vertical{
  height: 650px;
}
// .el-col-1 {
//   width: 1%;
// }
// .el-col-18 {
//   width: 78%;
// }
/deep/.el-divider--horizontal {
  margin: 12px 0px;
}

// .el-col-push-1 {
//   position: relative;
//   left: 0.8%;
// }