.el-table th>.cell{
  text-align: center;
}
.el-table td div {
  text-align: center;
}
.pageHeight{
  text-align:right;
}
.el-form-item{
  margin-bottom: 10px !important;
}
// /deep/.el-pagination__sizes {
//   margin-right: 30px;
// }
/deep/.el-input-group__append {
  background-color: #409EFF;
  border: 1px solid #409EFF;
}
.operate {
  margin-bottom: 5px;
  float: right;
}
/deep/.el-icon-search{
  color: #ffffff;
}
/deep/.pageHeight{
  margin-top: 3px 0 5px 0;
}
/deep/.el-tabs--border-card > .el-tabs__content {
  padding: 10px;
}
/deep/.el-table  .ehs-message-info-yellow{
  background-color: yellow;
  color: black;
}
/deep/.el-table  .ehs-message-info-error{
  background-color: red;
  color: white;
}
/deep/.el-table .ehs-message-info-waring{
  background-color: orange;
  color: black;
}
/deep/.el-table .ehs-message-info-success{
  background-color: green;
  color: white;
}

.el-card {
  margin-left: 10px;
  margin-right: 10px;
}