.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
// .el-col-18 {
//   width: 78%;
// }
// .el-col-push-1 {
//   position: relative;
//   left: 0.8%;
// }