.el-pagination{
  padding: 5px 0px;
} 
.operate {
  margin-bottom: 5px;
  float: right;
}
.el-form-item{
  margin-bottom: 10px !important;
}
/deep/.el-pagination__sizes {
  margin-right: 30px;
}
/deep/.el-input-group__append {
  background-color: #0d3154;
  border: 1px solid #0d3154;
}
/deep/.el-icon-search{
  color: #ffffff;
}
.el-card {
  margin-left: 10px;
  margin-right: 10px;
}